<div class="container">
  <div class="row">
    <div class="col-md-12 py-3">
      <h1 class="text-center">
        {{ title }}
      </h1>

      <app-financial-chart-multiple-data></app-financial-chart-multiple-data>

      <br/><br/><br/><br/>
      <!-- Buy/Sell -->
      <form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
        <div style="text-align: right">
          <div class="btn-group btn-group-sm">
            <input type="radio" class="btn-check me-md-2" name="buysellradio" id="btnbuy" checked formControlName="buysellradio" value="buy">
            <label class="btn btn-success" for="btnbuy">BUY</label>
            <input type="radio" class="btn-check" name="buysellradio" id="btnsell" formControlName="buysellradio" value="sell">
            <label class="btn btn-danger" for="btnsell">SELL</label>
          </div>
        </div>

        <!-- Table -->
        <div class="table-responsive py-3">

          <table id="table" class="table table-hover table-bordered table-sm">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col" sortable="instrumentName" (sort)="onSort($event)">Instruments</th>
                <th scope="col" sortable="marketValue" (sort)="onSort($event)">Market Value</th>
              </tr>
            </thead>
            <tbody class="table-light">
              <tr *ngFor="let orderBook of orderBooks">
                <th scope="row"><input type="radio" name="orderBook" id={{orderBook.id}} value={{orderBook.id}} formControlName="orderBook" ></th>
                <td>{{ orderBook.instrumentName }}</td>
                <td>{{ orderBook.marketValue | number }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        
        <div class="d-flex justify-content-end">
          <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
            (pageChange)="refreshOrderBooks()"></ngb-pagination>
        </div>

        <div class="form-group row text-center">
          <label for="orderType" style="text-align:right" class="col-sm-2 col-form-label">Order Type</label>
          <div class="col-sm-9">
            <select class="form-control" name="orderType" formControlName="orderType">
              <option value="market">Market</option>
              <option value="limit">Limit</option>
              <option value="hidden">Hidden</option>
              <option value="timed">Timed</option>
            </select>
          </div>
        </div>
        <!-- Action -->
        <div class="form-group row text-center">
          <label for="inputQty" style="text-align:right" class="col-sm-2 col-form-label">Quantity</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="inputQty" placeholder="0" name="inputQty"
              formControlName="inputQty">
          </div>
        </div>
        <div class="form-group row text-center">
          <label for="priceLimit" style="text-align:right" class="col-sm-2 col-form-label">Price Limit</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="priceLimit" placeholder="0" name="priceLimit"
              formControlName="priceLimit">
          </div>
        </div>

        <div class="d-grid py-5">
          <!-- <a class="btn btn-success btn-lg btn-spacing" href="trades">Place Order</a> -->
          <button type="submit" class="btn btn-success btn-lg btn-spacing">Place Order</button>
          <a class="btn btn-dark btn-lg btn-spacing" href="trades">View Trade</a>
        </div>
      </form>
    </div>
  </div>
</div>
<router-outlet></router-outlet>