<div class="container">
  <div class="row">
    <div class="col-md-12 py-3">
      <h1 class="text-center">
        {{ title }}
      </h1>
      <!-- Table -->
    </div>
    <!-- Form -->
    <form (ngSubmit)="submitOrderBook">
      <div class="form-group">
        <label for="buyOrSell">Buy/Sell</label>
        <select class="form-control" id="buyOrSell"
          required
          [(ngModel)]="orderBook.buyOrSell" name="buyOrSell"
          #buyOrSell="ngModel">
          <option [value]="undefined" selected>Select</option>
          <option>BUY</option>
          <option>SELL</option>
        </select>
      </div>

      <div class="form-group">
        <label for="orderType">Order Type</label>
        <select class="form-control" id="orderType"
          required
          [(ngModel)]="orderBook.orderType" name="orderType"
          #orderType="ngModel">
          <option [value]="undefined" selected>Select</option>
          <option *ngFor="let orderType of orderTypes" [value]="orderType">{{orderType}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="shareQuantity">Share Quantity</label>
        <input type="text" class="form-control" id="shareQuantity"
          required
          [(ngModel)]="orderBook.shareQuantity" name="shareQuantity"
          #shareQuantity="ngModel">
      </div>

      <div class="form-group">
        <label for="priceLimit">Price Limit</label>
        <input type="text" class="form-control" id="priceLimit"
          required
          [(ngModel)]="orderBook.priceLimit" name="priceLimit"
          #name="ngModel">
      </div>

      <button type="submit" class="btn btn-success" (click)="submitOrderBook()">Submit</button>
    </form>
  </div>
</div>
