<div class="container">
  <div class="row">
    <div class="col-md-12 py-3">
      <h1 class="text-center">
        {{ title }}
      </h1>
      <!-- Table -->
      <div class="table-responsive py-3">
        <table class="table table-hover table-bordered table-sm">
          <thead>
            <tr>
              <th scope="col" sortable="historyID" (sort)="onSort($event)">History ID</th>
              <th scope="col" sortable="order.orderID" (sort)="onSort($event)">Order ID</th>
              <th scope="col" sortable="orderTradingWith.orderID" (sort)="onSort($event)">Trades with Order ID</th>
              <th scope="col" sortable="order.buyOrSell" (sort)="onSort($event)">Buy/Sell</th>
              <th scope="col" sortable="order.orderBook.instrumentCode" (sort)="onSort($event)">Instrument</th>
              <th scope="col" sortable="shareQuantity" (sort)="onSort($event)">Quantity</th>
              <th scope="col" sortable="value" (sort)="onSort($event)">Price</th>
              <th scope="col" sortable="timeStamp" (sort)="onSort($event)">TimeStamp</th>
            </tr>
          </thead>
          <tbody class="table-light">
            <tr *ngFor="let trade of history">
              <td>{{ trade.historyID }}</td>
              <td>{{ trade.order.orderID }}</td>
              <td>{{ trade.orderTradingWith.orderID }}</td>
              <td>{{ trade.order.buyOrSell }}</td>
              <td>{{ trade.order.orderBook.instrumentCode }}</td>
              <td>{{ trade.shareQuantity | number }}</td>
              <td>{{ trade.value | number }}</td>
              <td>{{ trade.timeStamp }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- Pagination -->
      <div class="d-flex justify-content-end">
        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshHistory()"></ngb-pagination>
      </div>
      <!-- Action -->
      <div class="d-grid py-5">
        <a class="btn btn-dark btn-lg btn-spacing" href="orders">View Trade</a>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
