<div class="container">
  <div class="row">
    <div class="col-md-12 py-3">
      <h1 class="text-center">
        {{ title }}
      </h1>
      <!-- Buy/Sell -->
      <div style="text-align: right">
        <div class="btn-group btn-group-sm">
          <input type="radio" class="btn-check me-md-2" name="btnradio" id="btnbuy" checked>
          <label class="btn btn-success" for="btnbuy">BUY</label>
          <input type="radio" class="btn-check" name="btnradio" id="btnsell">
          <label class="btn btn-danger" for="btnsell">SELL</label>
        </div>
      </div>
      <!-- Table -->
      <div class="table-responsive py-3">
        <table class="table table-hover table-bordered table-sm">
          <thead>
            <tr>
              <th scope="col" sortable="orderID" (sort)="onSort($event)">Order ID</th>
              <th scope="col" sortable="buyOrSell" (sort)="onSort($event)">Buy/Sell</th>
              <th scope="col" sortable="shareQuantity" (sort)="onSort($event)">Quantity</th>
              <th scope="col" sortable="priceLimit" (sort)="onSort($event)">Price</th>
              <th scope="col" sortable="status" (sort)="onSort($event)">Status</th>
              <th scope="col" sortable="timeStamp" (sort)="onSort($event)">TimeStamp</th>
            </tr>
          </thead>
          <tbody class="table-light">
            <tr *ngFor="let trade of history">
              <td>{{ trade.orderID }}</td>
              <td>{{ trade.buyOrSell }}</td>
              <td>{{ trade.shareQuantity | number }}</td>
              <td>{{ trade.priceLimit | number }}</td>
              <td>{{ trade.status }}</td>
              <td>{{ trade.timeStamp}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- Pagination -->
      <div class="d-flex justify-content-end">
        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshHistory()"></ngb-pagination>
      </div>
      <!-- Action -->
      <div class="d-grid py-5">
        <a class="btn btn-dark btn-lg btn-spacing" href="orders">View Trade</a>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
