
    <!-- HOME -->
    <section class="home" id="home">

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="home-wrapper home-intro row vertical-content">

                        <div class="col-md-6 col-sm-8">
                            <div class="tabbable-panel">
                            <div class="tabbable-line">
                               <div class="tab-content tab-content-BuySell m-t-9">

                                  <div class="tab-pane active" id="tab_default_2">
                                    <div class="panel panel-body">
                                        <form style=" background-color: rgb(217, 217, 243);" class="intro-form" action="#" id="invite-2" method="POST">
                                           <h5><i class="fas fa-user-lock"></i>  Account Login <span>Welcome back, Please enter with username and password</span></h5>
                                           <input name="username" id="username-2" class="username" placeholder="Username" type="text" required="required">
                                           <input type="password" placeholder="Password" name="password" required="required">
                                           <button style="background-color: #5196e6;" type="submit" class="btn btn-secondary btn-block">login </button>

                                           <p>By Clicking Get Trial you agree to our terms of conditions of this product</p>
                                           <p>Forgot your password?</p>
                                           </form>
                                        <span id="result"></span>
                                    </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                        </div>
                    </div>
                </div> <!-- end col -->
            </div> <!-- end row -->
        </div> <!-- end container -->
    </section><!-- END HOME -->
