<!-- HOME -->
<section class="home" id="home">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="home-wrapper home-intro row vertical-content">

                    <div class="col-md-6 col-sm-8">
                        <div class="tabbable-panel">
                            <div class="tabbable-line">
                                <div class="tab-content tab-content-BuySell m-t-9">

                                    <div class="tab-pane active" id="tab_default_2">
                                        <div class="panel panel-body">
                                            <form style=" background-color: rgb(217, 217, 243);" class="intro-form"
                                                action="#" id="invite" method="POST">
                                                <h5><i class="fa fa-user"></i> Register<span> Register to start
                                                        trading</span></h5>
                                                <input name="name" id="name" class="name" placeholder="Name" type="text"
                                                    required="required" [(ngModel)]="name">
                                                <input type="email" placeholder="Email Address" name="email"
                                                    required="required" [(ngModel)]="email">
                                                <input type="username" placeholder="Username" class="form-control" name="username"
                                                    required="required" [(ngModel)]="username">
                                                <input type="password" placeholder=" Password" class="form-control" name="password"
                                                    required="required" [(ngModel)]="password">
                                                <button style="background-color: #5196e6;" (click)="registerUser()"
                                                    class="btn btn-secondary btn-block">Register</button>

                                                <p>By clicking Register, you agree on our terms and condition.</p>
                                            </form>
                                            <span id="result"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end col -->
        </div> <!-- end row -->
    </div><!-- end container -->
</section><!-- END HOME -->
