<div class="container">
  <div class="row">
    <div class="col-md-12 py-3">
      <h1 class="text-center">
        {{ title }}
      </h1>
      <!-- Buy/Sell -->
      <div style="text-align: right">
        <div class="btn-group btn-group-sm">
          <input type="radio" class="btn-check me-md-2" name="btnradio" id="btnbuy" checked>
          <label class="btn btn-success" for="btnbuy">BUY</label>
          <input type="radio" class="btn-check" name="btnradio" id="btnsell">
          <label class="btn btn-danger" for="btnsell">SELL</label>
        </div>
      </div>
      <!-- Table -->
      <div class="table-responsive py-3">
        <table id="table" class="table table-hover table-bordered table-sm">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col" sortable="instrumentName" (sort)="onSort($event)">Instruments</th>
              <th scope="col" sortable="marketValue" (sort)="onSort($event)">Market Value</th>
            </tr>
          </thead>
          <tbody class="table-light">
            <tr *ngFor="let order of orders">
              <th scope="row"><input type="radio" name=order id={{order.id}} value={{order.id}}></th>
              <td>{{ order.instrumentName }}</td>
              <td>{{ order.marketValue | number }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- Pagination -->
      <div class="d-flex justify-content-end">
        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshOrders()"></ngb-pagination>
      </div>
      <!-- Action -->
      <div class="form-group row text-center">
        <label for="inputQty" style="text-align:right" class="col-sm-2 col-form-label">Quantity</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="inputQty" placeholder="0">
        </div>
      </div>
      <div class="form-group row text-center">
        <label for="priceLimit" style="text-align:right" class="col-sm-2 col-form-label">Price Limit</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="priceLimit" placeholder="0">
        </div>
      </div>

      <div class="d-grid py-5">
        <a class="btn btn-success btn-lg btn-spacing" href="trades">Place Order</a>
        <a class="btn btn-dark btn-lg btn-spacing" href="trades">View Trade</a>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
