<div class="container">
  <div class="row">
    <div class="col-md-12 py-3">
      <h1 class="text-center">
        {{ title }}
      </h1>
      <!-- Buy/Sell -->
      <div style="text-align: right">
        <div class="btn-group btn-group-sm">
          <input type="radio" class="btn-check me-md-2" name="btnradio" id="btnbuy" checked>
          <label class="btn btn-outline-success" for="btnbuy">BUY</label>
          <input type="radio" class="btn-check" name="btnradio" id="btnsell">
          <label class="btn btn-outline-danger" for="btnsell">SELL</label>
        </div>
      </div>
      <!-- Table -->
      <div class="table-responsive py-3">
        <table class="table table-hover table-bordered table-sm">
          <thead>
            <tr>
              <th>Instruments</th>
              <th>Quantity</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody class="table-light">
            <tr>
              <th>BTC-USD</th>
              <th>10</th>
              <th>USD63998.36</th>
            </tr>
            <tr>
              <th>BTC-EUR</th>
              <th>15</th>
              <th>EUR63998.36</th>
            </tr>
            <tr>
              <th>BTC-GBP</th>
              <th>100</th>
              <th>GBP63998.36</th>
            </tr>
            <tr>
              <th>ETH-USD</th>
              <th>5</th>
              <th>USD63998.36</th>
            </tr>
            <tr>
              <th>ETH-USD</th>
              <th>1</th>
              <th>USD65998.36</th>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- Action -->
      <div class="d-grid">
        <button class="btn btn-outline-success btn-lg btn-spacing">Place Order</button>
        <a class="btn btn-outline-secondary btn-lg btn-spacing" href="trades">View Trade</a>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
