

<div class="container">
    <div class="row">
        <div class="col-md-12 py-3">
            <h1 class="text-center">
                {{ title }}
            </h1>
            
            <div class="table-responsive py-3">
                <table class="table table-hover table-bordered table-sm">
                    <thead>
                        <tr>
                            <th scope="col" sortable="code" >Code</th>
                            <th scope="col" sortable="company" >Company</th>
                            <th scope="col" sortable="price" >Price</th>
                            <th scope="col" sortable="open" >Open</th>
                            <th scope="col" sortable="priceChange" >Change (24hs)</th>
                            <th scope="col" sortable="high" >High (24hs)</th>
                            <th scope="col" sortable="low" >Low (24hs)</th>
                            <th scope="col" sortable="volume" >Volume (24hs)</th>
                            <th scope="col">Trade</th>
                        </tr>
                    </thead>
                    <tbody class="table-light">
                        <tr *ngFor="let market of markets">
                            <td>{{ market.code }}</td>
                            <td>{{ market.company }}</td>
                            <td>{{ market.price}}</td>
                            <td>{{ market.open  }}</td>
                            <td>{{ market.priceChange }}</td>
                            <td>{{ market.high}}</td>
                            <td>{{ market.low }}</td>
                            <td>{{ market.volume | number }}</td>
                            <td><a href="/order/" >Trade</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <div class="d-flex justify-content-end">
                <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
                    (pageChange)="refreshMarkets()"></ngb-pagination>
            </div>
            
            <div class="d-grid py-5">
                <a class="btn btn-dark btn-lg btn-spacing" href="/">Back to Home page</a>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>