<div class="container">
  <div class="row">
    <div class="side">
      <h2>Buy & sell in minutes</h2>
      <p>Join the world's largest exchange</p>
      <button  class=" fas fa-portrait btn warning" onclick="location.href='/register'" > Register now</button>
      <h2>Learn & trade </h2>
      <img src="/assets/images/trade3.jpg" alt="trade" style="height:250px;" />
      <p>Trade broadly refers to the exchange of goods and services, most often in return for money.</p>
        <p> Trade may take place within a country, or between trading nations. For international trade, the theory of comparative advantage predicts that trade is beneficial to all parties, although critics argue that in reality, it leads to stratification among countries.</p>
        <p>Economists advocate for free trade between nations, but protectionism such as tariffs may present themselves due to political motives, for instance with "trade wars."</p>
      
      <h3> Trade. Anywhere.</h3>
      <p>Compatible with multiple devices, start trading with safety and convenience.</p>
      <img src="/assets/images/trade5.jpg" alt="trade" style="height:150px;" />
    

    <h3>Current price movement of Market.</h3>
  <p>If you think the price will go up, click on BUY, and if you think the price will go down, click on SELL.</p>
  <img src="/assets/images/trade4.jpg" alt="trade" style="height:200px;" />
</div>
  <div class="main">
      <h2>What Is Trade?</h2>
      <img src="/assets/images/Trade2.jpg" alt="trade" style="height:400px;" />
      <p>Trade is...</p>
      <p> a basic economic concept involving the buying and selling of goods and services, with compensation paid by a buyer to a seller, or the exchange of goods or services between parties. Trade can take place within an economy between producers and consumers. International trade allows countries to expand markets for both goods and services that otherwise may not have been available. It is the reason why an American consumer can pick between a Japanese, German, or American car. As a result of international trade, the market contains greater competition and therefore, more competitive prices, which brings a cheaper product home to the consumer.
      
      
        In financial markets, trading refers to the buying and selling of securities</p>
      <br>
      <h2>Market</h2>
      <img src="/assets/images/trade1.jpg" alt="trade" style="height:400px;" />
      <p>Market capitalization..</p>
      <p>commonly called market cap, is the market value of a publicly traded company's outstanding shares.

        Market capitalization is equal to the share price multiplied by the number of shares outstanding. Since outstanding stock is bought and sold in public markets, capitalization could be used as an indicator of public opinion of a company's net worth and is a determining factor in some forms of stock valuation..
      
        Market cap only reflects the equity value of a company. A firm's choice of capital structure has a significant impact on how the total value of a company is allocated between equity and debt. A more comprehensive measure is enterprise value (EV), which gives effect to outstanding debt, preferred stock, and other factors. For insurance firms, a value called the embedded value (EV) has been used.

        Market capitalization is used by the investment community in ranking the size of companies, as opposed to sales or total asset figures. It is also used in ranking the relative size of stock exchanges, being a measure of the sum of the market capitalizations of all companies listed on each stock exchange. In performing such rankings, the market capitalizations are calculated at some significant date, such as June 30 or December 31.
        
        The total capitalization of stock markets or economic regions may be compared with other economic indicators (e.g. the Buffett indicator). The total market capitalization of all publicly traded companies in 2020 was approximately US$93 trillion.</p>
    <p>Reference: https://en.wikipedia.org/wiki/Market_capitalization</p>
      </div>
  </div>
</div>
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12 text-center">
        <i class="fas fa-money-bill-wave fa-3x color-blue"></i>
        <h4 class="title">Low Fee</h4>
        <p>0% maker fee and 0.1% taker fee makes us one of the most competitive exchanges on the market</p>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12 text-center">
        <i class="fa fa-lock fa-3x color-blue"></i>
        <h4 class="title">Security</h4>
        <p>The vast majority of digital assets are stored securely in offline storages</p>
      </div>


      <div class="col-md-3 col-sm-6 col-xs-12 text-center">
        <i class="fa fa-users fa-3x color-blue"></i>
        <h4 class="title">Experienced Team</h4>
        <p>Our experienced team helps us build the best product and deliver first class service to our clients</p>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12 text-center">
        <i class="fas fa-handshake fa-3x color-blue"></i>
        <h4 class="title">24/7 Support</h4>
        <p>Our multilingual 24/7 support allows us to keep in touch with customers in all time zones and regions</p>
      </div>
    </div><!-- end row -->
  </div> <!-- end container -->
</section>
<router-outlet></router-outlet>