
<div class="container">
  <div class="row">
    <div class="col-md-12 py-3">
      <h1 class="text-center">
        {{ title }}
      </h1>
      <!-- Action -->
      <div class="d-grid">
        <a class="btn btn-outline-secondary btn-lg btn-spacing" href="orders">View Order</a>
        <a class="btn btn-outline-secondary btn-lg btn-spacing" href="trades">View Trade</a>
        <a class="btn btn-outline-secondary btn-lg btn-spacing" href="trade/history">View Trade History</a>
      </div>
    </div>
  </div>
</div>
<section class="section">
  <div class="container">
      <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12 text-center">
          <i class="fas fa-money-bill-wave fa-3x color-blue"></i>
         <h4 class="title">Low Fee</h4>
         <p>0% maker fee and 0.1% taker fee makes us one of the most competitive exchanges on the market</p>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12 text-center">
          <i class="fa fa-lock fa-3x color-blue"></i>
         <h4 class="title">Security</h4>
         <p>The vast majority of digital assets are stored securely in offline storages</p>
      </div>


      <div class="col-md-3 col-sm-6 col-xs-12 text-center">
          <i class="fa fa-users fa-3x color-blue"></i>
         <h4 class="title">Experienced Team</h4>
         <p>Our experienced team helps us build the best product and deliver first class service to our clients</p>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12 text-center">
        <i class="fas fa-handshake fa-3x color-blue"></i>
         <h4 class="title">24/7 Support</h4>
         <p>Our multilingual 24/7 support allows us to keep in touch with customers in all time zones and regions</p>
      </div>
      </div><!-- end row -->
  </div> <!-- end container -->
</section>
<router-outlet></router-outlet>
