<div class="container">
  <div class="row">
    <div class="col-md-12 py-3">
      <h1 class="text-center">
        {{ title }}
      </h1>
      <!-- Action -->
      <div class="d-grid">
        <a class="btn btn-outline-secondary btn-lg btn-spacing" href="orders">View Order</a>
        <a class="btn btn-outline-secondary btn-lg btn-spacing" href="trades">View Trade</a>
        <a class="btn btn-outline-secondary btn-lg btn-spacing" href="trade/history">View Trade History</a>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
